@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", "Poppins", "Bungee Inline", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: white;
}

.line {
  height: 3px;
  width: 400px;
  display: flex;
}
.line1 {
  height: 50%;
  width: 30%;
  background: #f26b38;
}
.line2 {
  height: 50%;
  width: 70%;
  background: gray;
}
.logo {
  color: #e61610;
  font-size: 28px;
  font-family: "Bungee Inline", cursive;
  margin-bottom: 0;
  transition: all 1s;
}
.logo:hover {
  transform: scale(1.2);
  cursor: zoom-in;
}

svg {
  vertical-align: baseline;
}
